{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="">
  <meta name="keywords" content="soccer,football ">
{% endblock %}


{% block title %}
  {{ 'Page not found'|trans }} - {{ parent() }} 
{% endblock %}

{% block content %}
<section class="header">
  <div class="row" style="min-height:65vh;margin-top:50px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <div class="row">
        <!--Begin of the upload page -->
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" style="margin-top:50px;">
          <div class="challengedescription text-center">
            <div class="challengetitle">
              <h3 style="color:white;">{{ 'Page not found'|trans }}</h3>
            </div>
            <div class="challengecontent  row text-center">
              <p>The page you requested was not found. Please go back to our site by clicking on the bestfootball icon on the top left of your screen or by clicking the button below.</p>

              <a href="{{path('bf_site_logged_home')}}" class="btn btn-upload"> Go back to the site </a>
            </div>
          </div>
        </div>
        <!--END of the not found page -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
