{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="Bla bla bla concernant l'upload.">
  <meta name="keywords" content="soccer,football ">
{% endblock %}


{% block title %}
  Admin Section- add a new challenge - {{ parent() }} 
{% endblock %}

{% block content %}


<section class="header">
	<div class="row" style="margin-top:20px;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<div class="row">
				<h3>Ajouter un nouveau Challenge</h3>

				<div class="well">
					<table>
				 	{% for user in listUsers %}
						<tr>
							<td>{{ user.name }}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.email }}</td>
							<td>Modify </td>
							<td>Delete</td>
						</tr>
					{% endfor %}
				</table>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
