<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <img src="/img/duelrank.jpg" style="width:100%;">
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <img src="/img/duelrank.jpg" style="width:100%;">
</div>