<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter row" style="margin-bottom:20px;">
  <div class="challengedescription">


    <!--Title with line -->
      <div style="width: 100%; height: 21px; border-bottom: 1px solid #95cd36; text-align: center;background-color:#FFF;">
        <span style="font-size: 27px; background-color: #FFF; padding: 0 10px;color:#95cd36;">
          {{ 'My Challenges'|trans }}<!--Padding is optional-->
        </span>
      </div>
      <div style="width: 100%; height: 15px;background-color:#FFF;">
      </div>





    <div class="challengecontent">
      {% if lists.listChallenges|length > 0 %}
        <ul style="list-style-type:none;padding-left:0px;" >
          {% set previous='' %}
          {% for video in lists.listChallenges %}
            {% if previous != video.challenge.id %}
              <li>
                {% include "BFSiteBundle:Profile:Videochallengethumb.html.twig" with {'video' : video} only %}
              </li>
              {% set previous = video.challenge.id %}
            {% else %}
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ 'This user did not participate at any challenges'|trans }}</p>
      {% endif %}
    </div>
  </div>
</div>
