{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  My Settings - {{ parent() }}
{% endblock %}


{% block content %}

  <section class="profile">
        <div class="row text-center" style="margin-top:50px;">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <div style="background-color:rgba(255,255,255,0.8); margin-bottom:100px;">
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" style="width:50%;"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">information</a></li>
			    <li role="presentation" style="width:50%;"><a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">profile picture</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content row" style="padding-bottom:10px;">
			    <div role="tabpanel" class="tab-pane active" id="info">
			    </br>
						{{ render(controller("BFSiteBundle:Profile:settingsInfo")) }}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="picture">
			    	</br>
			    	</br>
			    	{{ render(controller("BFSiteBundle:Profile:settingsPicture")) }}
			    </div>
			  </div>
			</div>
          </div>
        </div>
      </section> 
</div>
{% endblock %}

{% block javascripts %}
<script>
	var $country = $('#bf_userbundle_user_country');
	// When sport gets selected ...
	$country.change(function() {
	  // ... retrieve the corresponding form.
	  var $form = $(this).closest('form');
	  // Simulate form data, but only include the selected sport value.
	  var data = {};
	  data[$country.attr('name')] = $country.val();
	  // Submit data via AJAX to the form's action path.
	  $('#loading-image').show();
	  $('#statefield').hide();
	  $.ajax({
	    url : $form.attr('action'),
	    type: $form.attr('method'),
	    data : data,
	    success: function(html) {
	      // Replace current position field ...
	      $('#bf_userbundle_user_state').replaceWith(
	        // ... with the returned one from the AJAX response.
	        $(html).find('#bf_userbundle_user_state')
	      );
	      // Position field now displays the appropriate positions.
	      $('#loading-image').hide();
	      $('#statefield').show();
	    }
	  });
	});
</script>
{% endblock %}
