<div style="width:100%;max-width:711px;max-height:400px;background-color:black;margin-bottom:20px;">
	<video id="video" width="100%" controls style="max-width:100%;max-height:400px;">
	    <source src="{{ video.source }}" type="video/mp4">
	    	Your browser does not support the video tag.
	</video>
</div>
