{% extends "BFSiteBundle::Adminbase.html.twig" %}


{% block meta %}
  <meta name="description" content="Bla bla bla concernant l'upload.">
  <meta name="keywords" content="soccer,football ">
{% endblock %}


{% block title %}
  Admin Section- add a new challenge - {{ parent() }} 
{% endblock %}

{% block content %}

 
<h3>Ajouter un nouveau Challenge</h3>

<div class="well">
	<table>
 	{% for user in listUsers %}
		<tr>
			<td>{{ user.name }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.email }}</td>
			<td>Modify </td>
			<td>Delete</td>
		</tr>
	{% endfor %}
</table>
</div>
  

  <hr>

{% endblock %}
