<h3>{{ name }}, a copy of your e-mail</h3>

<p>Thank you for sending us a mail. We will contact you as soon as possible.</p>
</br>
<p>Your Message:</p> 
</br>
<p>Reason : {{ reason }} </p>
</br>
</br>
<p>{{ text }}</p>
</br>
</br>
<p>
See you soon on Bestfootball.fr
</p>
