{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Duel Ranking - {{ parent() }}
{% endblock %}

{% block meta %}
  <style type="text/css">
  .btn-ranking{
  	width:40%;
  	background-color:#A4A4A4;
  	font-size:16px;
  }
  .btn-ranking-active{
  	width:40%;
  	background-color:#95cd36;
  	font-size:18px;
  	color:white;
  }
  .btn-country{
  	width:100%;
  	background-color:#A4A4A4;
  	font-size:16px;
  	margin-bottom: 10px;
  }
  .btn-country-active{
  	width:100%;
  	background-color:#95cd36;
  	font-size:18px;
  	margin-bottom: 10px;
  	color:white;
  }

  .ranking{
  	background-image:url(/img/ranking.png);
    /*rgba(149,205,54,0); */
    background-attachment: fixed;
    background-size: cover;    
    padding-top: 50px;
    min-height: 75vh;
  }
  .titlemixed{
  	width: 85%;
  	background-color: #9DC04E;
  	height: 35px;
  	position:absolute;
  	left:60px;
  	bottom:0px;


  }
  .titlemixed > img{
  	height: 120px;
  	position:absolute;
  	left:-60px;
  	bottom:0px;
  }
  .titlemixed > h3{
  	margin-top:4px;
  	font-size: 25px;
  }

  </style>
{% endblock %}


{% block content %}
<section class="ranking">
  	<div class="row" style="min-height:65vh;margin-top:50px;">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      		<div class="row">
        	<!--Begin of the ranking page -->

        		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center" >
        			<div class="row">
        				<!-- the buttons to select the country and state -->
        				{% include "BFSiteBundle:Ranking:duelselector.html.twig" with {"listCountries": listCountries, 'country': country } only %}
        			</div>
        		</div>


        		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center" >
        			<div class="row">
						
							<!-- buttons to navigate between challenge and duel -->
						    <a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" class="btn btn-ranking">Challenge Ranking</a>


						    <a href="{{ path('bf_site_ranking_duel', {'country': 'global', 'state':'country'}) }}" class="btn btn-ranking-active" style="">Duel Ranking</a>





						    <!-- the mixed ranking -->
						    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
								<div class="row">
								    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:120px;margin-top:10px;">
								    	<div class="row">
								    		<!-- the title + image -->
								    		<div class="titlemixed">
								    			<img src="/img/ranking/mixed.png" alt=""/>
								    			<h3>Mixed</h3>
								    		</div>
								    	</div>
								    </div>
								    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:30px;">
								    	<div class="row">
								    		<!-- the first 10 persons -->
								    		<table class="table">
										        {% include "BFSiteBundle:Ranking:table.html.twig" with {"ranking": ranking} only %}             
										    </table>
								    	</div>
								    </div>
								</div>
							</div>

							<!-- the boys ranking -->
						    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
								<div class="row">
								    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:120px;margin-top:10px;">
								    	<div class="row">
								    		<!-- the title + image -->
								    		<div class="titlemixed">
								    			<img src="/img/ranking/girls.png" alt=""/>
								    			<h3>Girls</h3>
								    		</div>
								    	</div>
								    </div>
								    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:15px;">
								    	<div class="row">
								    		<!-- the first 10 persons -->
								    		<table class="table">
										        {% include "BFSiteBundle:Ranking:table.html.twig" with {"ranking": rankings.rankingGirls} only %}        
										    </table>
								    	</div>
								    </div>
								</div>
							</div>


							<!-- the girls ranking -->
						    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
								<div class="row">
								    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:120px;margin-top:10px;">
								    	<div class="row">
								    		<!-- the title + image -->
								    		<div class="titlemixed">
								    			<img src="/img/ranking/boys.png" alt=""/>
								    			<h3>Boys</h3>
								    		</div>
								    	</div>
								    </div>
								    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:15px;">
								    	<div class="row">
								    		<!-- the first 10 persons -->
								    		<table class="table">
										        {% include "BFSiteBundle:Ranking:table.html.twig" with {"ranking": rankings.rankingBoys} only %}             
										    </table>
								    	</div>
								    </div>
								</div>
							</div>



					
					</div>
				</div>
			


			<!-- END of the ranking page -->
        	</div>
      	</div>
    </div>
</section>
{% endblock %}
