<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="padding:10px;">
	<div class="row">
		<div class="challenge">
			<div class="row text-center">
				</br>
				<h3 class="text-center">{{ challenge.title }}</h3>
				<img src="{{ challenge.imageUrl }}" alt="thumbnail of {{ challenge.title }}" style="max-width:90%;max-height:150px;" class="text-center">
								
				<button onclick="location.href='{{ path('bf_site_challengeview', {'id': challenge.id}) }}'" class="btn btn-participate" type="submit">Participate</button>
			</div>
		</div>
	</div>
</div>
