<!--New email template Bestfootball -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Email Template - Bestfootball</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<table width="100%">
			<tr>
				<td>
					<table border="0" width="600px" style="border-collapse: collapse;margin:auto;">
						<tr>
							<td>
								<table width="100%">
									<tr>
										<td style="padding-top: 10px; padding-right: 150px; padding-bottom: 8px; padding-left: 150px;">
										<img src="http://bestfootball.fr/img/logo.png" alt="Bestfootball Logo" width="300" height="230" style="display: block;">
										</td>
									</tr>
									<tr>
										<td style="padding-top: 10px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; text-align:center;">
											<h1 style="color:#95cd36;font-family:helvetica;">THE SUBJECT OF THE MAIL</h1>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						
						<tr>
							<td  bgcolor="#95cd36" style="padding-top: 10px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td>
												<h2 style="color:white;font-family:helvetica;">Salut Username,</h2>
											</td>
								 		</tr>
								 		<tr>
								  			<td>
								   				<p style="color:white;font-family:helvetica;text-align:justify;">
								   					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
								   				</p>
								  			</td>
								 		</tr>
								 		<tr>
											<td>
												<h3 style="color:white;font-family:helvetica;">Les dernières vidéos</h3>
											</td>
								 		</tr>
								 		<tr>
								  			<td>
								   				<!--Dernières vidéos -->
								   				<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td width="260px">
																<a href="">
																	<img src="https://v.bestfootball.fr/thumbnail/17fcaaa6d3b6abef5e6fdd1bb9da0e48.jpg" alt="Thubmnail of..." width="260px" style="display: block;">
																</a>
															</td>
															<td width="40px">
																<!--Cellule vide-->
																&nbsp;
															</td>
															<td width="260px">
																<a href="">
																	<img src="https://v.bestfootball.fr/thumbnail/17fcaaa6d3b6abef5e6fdd1bb9da0e48.jpg" alt="Thubmnail of..." width="260px" style="display: block;">
																</a>
															</td>

												 		</tr>
													</tbody>
												</table>
								  			</td>
								 		</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr bgcolor="#6E6E6E">				
							<td style="padding-top: 10px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px;">
								<table border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
										  	<td width="400px">
										  		<p style="font-family:helvetica;color:white;">
										  			® Bestfootball 2016<br>
													Unsubscribe to this newsletter instantly
										  		</p>
										  	</td>
										  	<td>
										  		<table border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
														  	<td>
														   		<a href="https://twitter.com/Bestfootball_10">
														    		<img src="https://g.twimg.com/dev/documentation/image/Twitter_logo_white_32.png" alt="Twitter" width="38px" height="38px" style="display: block;" border="0">
														   		</a>
														  	</td>
												  			<td style="font-size: 0; line-height: 0;" width="20px"> 

												  			</td>
												  			<td>
													   			<a href="https://www.facebook.com/Bestfootball.official/">
													    			<img src="https://www.facebookbrand.com/img/fb-art.jpg" alt="Facebook" width="38px" height="38px" style="display: block;" border="0">
													   			</a>
												  			</td>
												 		</tr>
													</tbody>
												</table>
										  	</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>