<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="followtabback">
      <div class="followtitle text-center row">
        <h3 style="color:white;">Freestyle Videos</h3>
      </div>
      <div class="followcontent row">
        {% if lastFreestyles|length > 0 %}
          {% for video in lastFreestyles %}
            {% include "BFSiteBundle:Video:Thumbsquare.html.twig" with {"video": video} only %}
          {% endfor %}
        {% else %}
          <p class="text-center" style="margin: 20px 0px;">{{ 'This is the Freestyle section of bestfootball. Be free and upload your freestyle video by clicking on the button above!'|trans }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
