<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="followtabback">
      <div class="followtitle text-center">
        <h3 style="color:white;">{{ 'Last Videos'|trans }}:</h3>
      </div>
      <div class="followcontent row">
        {% for video in lastVideos %}
          {% include "BFSiteBundle:Video:Thumbsquare.html.twig" with {"video": video} only %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
