<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	<div class="row">
		<div style="width:100%;max-width:711px;max-height:400px;background-color:black;margin-bottom:20px;margin:auto;">
			<video id="video" width="100%" controls preload="auto" poster="{{ video.thumbUrl }}" style="max-width:100%;max-height:400px;">
			    <source src="{{ video.source }}" type="video/mp4">
			    	Your browser does not support the video tag.
			</video>
		</div>
	</div>
</div>