{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Challenges - {{ parent() }}
{% endblock %}


{% block content %}

  {# This is the content section of our page, here the user will be able to view all the challenges with the different niveau's! #}  	
	  {% for challenge in listChallenges %}
		<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 ">
		  	{{ challenge.title }}

		  	{% for video in challenge.videos %}
		  		{{ video.user.username }}
		  	{% endfor %}




		</div>
	  {% endfor %}



{% endblock %}