{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="La page de presse de Bestfootball">
  <meta name="keywords" content="soccer,football,bestfootball, football challenges, challenges, foot challenges, football tricks, freestyle foot, freestyle football, challenges foot, soccer tricks, freestyle soccer, football freestyle, cool soccer tricks, freestyle soccer ball, soccer freestyle, reseau sociau, internet social, football challenge, vinsky, défi technique, presse">
{% endblock %}


{% block title %}
  {{ 'Explinations'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
<section class="ranking">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    	<div class="row">
    		<h1 class="text-center">Bestfootball, Comment ça marche ?</h1>
    	<!-- begin of the article -->
    		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" style="background-color:rgba(255,255,255,0.8);padding:10px 10px; border-radius:10px;">
    			<div class="row">
                    <p style="text-align:justify;">
                        C'est pas toujours facile de comprendre instantanement comment profiter au maximum d'un site internet, et de son application mobile.
                        <br \>
                        Bestfootball vous as preparé un petit récapitulatif des différentes étapes possibles.
                    </p>
                    <p style="text-align:justify;">
                        Tout d'abord l'inscription !!<br \>
                        Tu dois d'abord t'inscrire sur notre site internet avant de pouvoir te connecter sur l'application mobile! De plus si tu t'es inscrit sur notre site via Facebook, tu devras te connecter sur l'application via Facebook aussi. Si tu t'es inscris via un pseudo et un mot de passe, tu devras utiliser le meme mode de connexion. Donc, pour resumer le tout, ta connexion sur l'application doit etre la meme que que celle sur le site!!
                        <br \><br \>
                        C'est bon tu es inscrit! Qu'est ce que tu peux faire? Tu as 4 principales possibilités :)
                        
                    </p>
                    <h3>Les challenges!!</h3>
                    <h4>Via le site internet</h4>
                    <ol>
                        <li>Tu choisis un challenge sur notre site. Le challenge de la barre transversale par exemple.</li>
                        <li>Tu te prends en video avec l'appareil de ton choix.</li>
                        <li>Tu uploades la video sur notre site via ton PC.</li>
                        <li>Tu indiques ton score (toucher 5 fois de suite la barre tranversale par exemple).</li>
                        <li>Tu recois un certain nombre de points en fonction du palier atteint.</li>       
                    </ol>

                    <h4>Via l'application mobile (beaucoup plus rapide):</h4>
                    <ol>
                        <li>Tu choisis un challenge sur l'application mobile. Le challenge de la barre transversale par exemple.</li>
                        <li>Tu te prends en video directement via l'application.</li>
                        <li>Tu acceptes la video ou tu recommences la prise.</li>*
                        <li>Une fois la video acceptee, tu indiques ton score (toucher 5 fois de suite la barre tranversale par exemple).</li>
                        <li>Tu valides le tout, et l'upload se fait directement sur ton profil</li>
                        <li>Tu recois un certain nombre de points en fonction du palier atteint.</li>      
                    </ol>

                    <h3>Les defis!!</h3>
                    <ol>
                        <li>Aller sur le profil d'un de tes amis ou d'un utilisateur quelconque</li>
                        <li>Le defier directement sur le challenge que tu veux (Tu peux defier autant de personnes et autant de challenges que tu veux).</li>
                        <li>Poster une nouvelle video ou utiliser une video deja existante</li>
                        <li>A la fin de la semaine ( ou avant si vous avez tous les deux deja publie votre video), tu sauras qui est le vainqueur du defi!</li>
                    </ol>

                    <h3>Prediction du meilleur joueur!</h3>
                    <ol>
                        <li>Regarde la video d'un utilisateur</li>
                        <li>Si tu penses que personne ne fera mieux que lui, designe le comme future gagnant de ce challenge (Tu as le droit de changer d'avis plusieurs fois).</li>
                        <li>A la fin de l'annee (31 decembre 2016, on verra si tu as eu raison sur ton choix!).</li>
                    </ol>

                    <h3>Pas de challenges, pas de regles, juste du freestyle!</h3>
                    <ol>
                        <li>Viens sur la page freestyle.</li>
                        <li>Poste ta video de toi entrain de realiser les gestes que tu veux.</li>
                    </ol>

                    
                        <h3>Et les cadeaux??</h3>
                    <p style="text-align:justify;">
                        Haa une des parties les plus interessantes :)
                    </p>

                     <h4>Challenges non sponsorises</h4>

                     <p style="text-align:justify;">
                        A la fin de l'annee (31/12/2016), les meilleurs de chaque region en France recevront un T-shirt Bestfootball. Le meilleur national recevra une casquette Bestfootball.
                     </p>

                     <h4>Challenges sponsorises</h4>

                     <p style="text-align:justify;">
                        Les recompenses varient en fonction du sponsor! Tu trouveras toutes les informations sur la page du challenge ! 
                     </p>

                     <h4>Défis</h4>

                     <p style="text-align:justify;">
                        A la fin de l'annee (31/12/2016), les meilleurs de chaque region en France recevront un T-shirt Bestfootball.
                     </p>

                     <h4>Predictions et Freestyle</h4>

                     <p style="text-align:justify;">
                        Nous n'avons pas encore de cadeau mais nous cherchons activement des sponsors pour recompenser les meilleurs sur ces sections!!
                     </p>
                    <p style="text-align:justify;">
                         Voila, tu as maintenant connaissance de tout ce que tu peux faire sur notre plateforme! On travaille pour proposer d'autres fonctionnalites tres bientot!!
                        Amuse toi bien et n'hesite pas a nous ecrire si tu rencontres des problemes avec le site ou l'application : contact@bestfootball.fr
                    </p>
                   

    			</div>
    		</div>
    	<!-- end of the article -->
    	</div>
    </div>
  </div>
</section>
{% endblock %}
