{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Home Page - {{ parent() }}
{% endblock %}


{% block content %}
	<section class="header">
    <div class="row" style="margin-top:20px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">


          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row text-center" style="margin-top: 10vh;">
            <h1 style="color:white;font-size:40px;margin-top:30px;font-family: arial;">
              STOP DREAMING, START SHINING
            </h1>
            <p style="color:white;font-size:19px;">Time for you to progress and show us your football skills.</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row text-center">
            <a href="" id="scroll"><img src="/img/arrow.png" alt="" style="width:100%;max-width:60px;margin-top:50vh;"/></a>   
          </div>


        </div>
      </div>
    </div>
  </section>

      <section id="howdoes"class="info text-center" style="height:100vh;">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 text-center">  
          <h2 style="margin-top:70px;font-size:40px;font-family: arial;">HOW DOES IT WORK ?</h2>
         

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 slide-left" style="margin-top:10vh;">
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 vcenter">
                <a href="{{ path('fos_user_security_login') }}"><img src="../img/trophee.jpg" alt="" class="img-responsive" style="margin: 0 auto;width:100%;max-width:235px;"/></a>
              </div><!--
              --><div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 vcenter">
                <h3>Subscribe</h3>
                <p class="justify" style="line-height: 170%;">
                  First of all, please read the rules of Bestfootball to be sure you can enjoy it fully! <a href="{{ path('bf_site_rules') }}">Click here to read the rules.</a> Then <a href="{{ path('fos_user_security_login') }}">suscribe here</a> and download the application Bestfootball to record yourself(recommanded).
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 slide-left" style="margin-top:10vh;">
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 vcenter">
                <img src="../img/trophee.jpg" alt="" class="img-responsive" style="margin: 0 auto;width:100%;max-width:235px;"/>
              </div><!--
              --><div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 vcenter">
                <h3>Participate</h3>
                <p class="justify" style="line-height: 170%;">
                 It is really simple! Just choose the challenge you want, record yourself, indicate us the level you reached and upload your video. And it is way faster with the application : you do all that on your phone and you do not need to connect it with the computer !
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 slide-left" style="margin-top:10vh;">
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 vcenter">
                <img src="../img/trophee.jpg" alt="" class="img-responsive" style="margin: 0 auto;width:100%;max-width:235px;"/>
              </div><!--
              --><div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 vcenter">
                <h3>Earn rewards</h3>
                <p class="justify" style="line-height: 170%;">
                  Bestfootball rewards his users thanks to different systems of rewards. </br>So Manage to be among the best !!
                </p>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slide-bottom">
            <a href="" id="scrollapp"><img src="/img/arrow_black.png" alt="" style="width:100%;max-width:60px;margin-top:10px;"/></a>
          </div>

        </div>
      </div>
    </section>




    <section id="app" class="rank text-center" style="height:100vh;">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">  
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <h2 style="margin-top:70px;font-size:40px;font-family: arial;">DOWLOAD OUR APPLICATION</h2>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row vcenter slide-left" style="margin-top: 10vh;">
                    <p class="justify" style="line-height: 170%;">We developped an application to make it easier for you to film and upload the challenges. With our application, you can access all the challenges and with one click of a button, you can begin to record and upload your video.</p>
                </div><!--
                --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 row text-center vcenter slide-bottom" style="margin-top: 10vh;">
                    <img src="/img/app_iphone.png" alt="" style="width:100%;max-width:250px;"/>
                </div><!--
                --><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row text-center slide-right vcenter" style="margin-top: 10vh;">
                    <a href="https://rink.hockeyapp.net/apps/48302fda3fb74d0e97f7b36e7999c9e2" target="_blank"><img src="/img/appstore-fc29f.png" alt="" style="width:100%;max-width:150px;"/></a>
                    <a href="https://rink.hockeyapp.net/apps/c8b873a7039b4540ad6c8fb39828abf7/app_versions/7" target="_blank"><img src="/img/google-play-button.png" alt="" style="width:100%;max-width:160px;"/></a>
                </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slide-bottom">
            <a href="" id="scrollsocial"><img src="/img/arrow_black.png" alt="" style="width:100%;max-width:60px;"/></a>
          </div>



        </div>
      </div>
      </section>
      
      <section id="social" class="info">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 slide-left text-center">
          <div class="row">
            <h3 class="text-center" style="font-size:40px;font-family: arial;">FOLLOW US ON SOCIAL MEDIA</h3>
          
          </br>
          </br>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 vcenter text-center">
                <a href="https://twitter.com/Bestfootball_10" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @Bestfootball_10</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div><!--
              --><div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 vcenter text-center">
                <div class="fb-page" 
                  data-href="https://www.facebook.com/Bestfootball.official/"
                  data-width="380" 
                  data-hide-cover="false"
                  data-show-facepile="false" 
                  data-show-posts="false"></div>
              </div><!--
              --><div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 vcenter text-center">
                <style>.ig-b- { display: inline-block; }
                .ig-b- img { visibility: hidden; }
                .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
                .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
                @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
                <a href="https://www.instagram.com/bestfootball.official/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
              </div>
              </br>
          </br>
              <a href="https://www.indiegogo.com" target="_blank"><img src="/img/igg-button.png" alt="" style="width:100%;max-width:610px;"/></a>
          </div>
        </div>
      </section>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    $("#scroll").click(function(e) { 
        e.preventDefault(); 
        $('html,body').animate({
            scrollTop: $("#howdoes").offset().top},
            'slow');         
    });

    $("#scrollapp").click(function(e) { 
        e.preventDefault(); 
        $('html,body').animate({
            scrollTop: $("#app").offset().top},
            'slow');         
    });

    $("#scrollsocial").click(function(e) { 
        e.preventDefault(); 
        $('html,body').animate({
            scrollTop: $("#social").offset().top},
            'slow');         
    });

  </script>
{% endblock %}
