{% extends "BFSiteBundle::base.html.twig" %}

{% block meta %}
  <meta name="description" content="La page d'acceuil connecté de Bestfootball">
  <meta name="keywords" content="soccer,football,bestfootball, football challenges, challenges, foot challenges, football tricks, freestyle foot, freestyle football, challenges foot, soccer tricks, freestyle soccer, football freestyle, cool soccer tricks, freestyle soccer ball, soccer freestyle, reseau sociau, internet social, football challenge, vinsky, défi technique">
{% endblock %}

{% block title %}
  Home page - {{ parent() }}
{% endblock %}


{% block content %}
	<section class="homepage">
    <div class="row" style="margin-top:50px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div class="row">
          {# integrating the  profile top #}
          {% include "BFSiteBundle:Profile:Profiletop.html.twig" with {"user": user, "rank": rank,"profiletop":profiletop, 'follow' : rank} only %}
        </div>
      </div>
      <!-- END of the Profile TOP -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <!--Begin of the follower bar make it colapse when SM reached-->
          <div class="hidden-xs col-sm-3 col-md-3 col-lg-2">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  {% include "BFSiteBundle:Follow:Followingbar.html.twig" with {"listFollows": lists.listFollows} only %}
                  <div align="center">
                    <!-- Google adsense -->
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Bestfootball - Page vidéo -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-8083255745445826"
                         data-ad-slot="3734063795"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End of the follower bar -->
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
            <div class="row">
            <!--Begin of the lastest videos -->
              {% include "BFSiteBundle:Video:Homelist.html.twig" with {"lastVideos": lists.lastVideos} only %}
            <!--End of the lastest videos -->

            {{ render(controller('BFSiteBundle:Challenge:banner')) }}


              {% include "BFSiteBundle:Video:Freestylelist.html.twig" with {"lastFreestyles": lists.lastFreestyles} only %}

            

            <!--Begin of the following videos -->
              {% for object in lists.listVideosFollows %}
                {% include "BFSiteBundle:Video:Followingvideolist.html.twig" with {"object": object} only %}
              {% endfor %}
            <!--End of the following videos -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
