{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Home page - {{ parent() }}
{% endblock %}


{% block content %}
	<section class="homepage">
    <div class="row" style="margin-top:50px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div class="row">
          {# integrating the  profile top #}
          {% include "BFSiteBundle:Profile:Profiletop.html.twig" with {"user": user, "rank": rank,"age":age} only %}
        </div>
      </div>
      <!-- END of the Profile TOP -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <!--Begin of the follower bar make it colapse when SM reached-->
          <div class="hidden-xs col-sm-3 col-md-3 col-lg-2">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  {% include "BFSiteBundle:Follow:Followingbar.html.twig" with {"listFollows": lists.listFollows} only %}
                </div>
              </div>
            </div>
          </div>
          <!--End of the follower bar -->
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
            <div class="row">
              {{ dump(index) }}
            <!--Begin of the lastest videos -->
              {% include "BFSiteBundle:Video:Homelist.html.twig" with {"lastVideos": lists.lastVideos} only %}
            <!--End of the lastest videos -->

            <!--Begin of the following videos -->
              {% for object in lists.listVideosFollows %}
                {% include "BFSiteBundle:Video:Followingvideolist.html.twig" with {"object": object} only %}
              {% endfor %}
            <!--End of the following videos -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
