{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="Press">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  press section - {{ parent() }}
{% endblock %}

{% block content %}
<section class="profile">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

    	No articles for the moment
    </div>
  </div>
</section>
{% endblock %}