{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="Press">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  {{ 'Press'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
<section class="ranking">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    	<div class="row">
    		<h1 class="text-center">Presse</h1>
    	<!-- begin of the article -->
    		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" style="background-color:rgba(255,255,255,0.8);padding:10px 10px; border-radius:10px;">
    			<div class="row">
                    <p>
                        Vous voulez parler de Bestfootball ?

                        N’hésitez pas à joindre directement Jérémie Karege / COO  qui répondra avec plaisir à toutes vos questions :  07.62.38.60.69 - contact@Bestfootball.fr

                        Vous trouverez ci-dessous nos ressources médias :
                        <ol>
                            {% if app.request.getLocale() == 'fr'%}
                                <li><a href="/pdf/CP_20_03_2016_fr.pdf" target="_blank">Communiqué de presse du 20 Mars 2016 : Lancement de bestfootball</a></li>
                            {% else %}
                                <li><a href="/pdf/CP_20_03_2016_en.pdf" target="_blank">Communiqué de presse du 20 Mars 2016 : Lancement de bestfootball</a></li>
                            {% endif %}
                        </ol>
                    </p>


    				<footer>
    					<p>	
						


    				</footer>

    			</div>
    		</div>
    	<!-- end of the article -->
    	</div>
    </div>
  </div>
</section>
{% endblock %}
