{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="Press">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  {{ 'Press'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
<section style="background: url(../img/header.jpg) no-repeat fixed center;background-size: 100% 100%;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    	<div class="row">
    		<h1 class="text-center">Presse</h1>
    	<!-- begin of the article -->
    		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" style="background-color:rgba(255,255,255,0.8);padding:10px 10px; border-radius:10px;">
    			<div class="row">
    				<h3>Lancement de Bestfootball, la start-up qui récompense les footeux !</h3>
    				<p style="text-align:justify;">
    					Stop Dreaming and Start Shining. Le slogan de la startup Bestfootball résonne comme une invitation aux amateurs de foot du monde entier à rechausser leurs crampons. Tel est l’ambition de trois jeunes entrepreneurs qui viennent d’annoncer le lancement d’une application mobile ( bestfootball) ainsi que d’un site internet <a href="https://www.bestfootball.fr" target="_blank">www.bestfootball.fr</a>
    				</p>
    				<!-- image de l'application avec gardien -->
    				<img src="/img/presse/1.jpg" alt="bestfootball application keeper" style="max-width:70%;max-height:300px;"/>
    				<p style="text-align:justify;">
    					D’une part le site internet propose des challenges footballistiques, d’autre part l’application mobile permettra aux utilisateurs de filmer leurs challenges et d’uploader leurs vidéos automatiquement sur le site. Les utilisateurs pourront participer aux challenges proposés, se défier entre eux et seront classés en fonction de leurs résultats dans chaque challenge. Un système de récompense leur permettra de gagner des lots grâce aux marques partenaires de BestFootball. 
    				</p>
    				<p style="text-align:justify;">
    					Le constat est clair. La créativité, l’innovation et l’amusement sont de moins en moins présents dans le football et plus inquiétant encore, dans les catégories de jeunes. L’objectif de victoire immédiate prime sur l’envie de faire progresser les jeunes. Nous avons compris que l’apprentissage, le jeu et la compétition étaient des besoins récurrents à tout joueur de foot passionné. De ce constat est née BestFootball, une interface footballistique permettant aux jeunes joueurs à la fois de s’amuser tout en progressant et pourquoi pas pour les meilleurs de se faire remarquer !
    				</p>
    				</p>
    				<p style="text-align:justify;">
    					Bestfootball s'est ainsi construit autour du concept de gamification, l'alliance magique de l'apprentissage et du jeu. Le site internet propose un panel de challenges footballistiques avec des paliers prédéfinis pour chacun des challenges. Par exemple, pour atteindre le premier palier du challenge « jongle du pied droit», il vous faudra faire 10 jongles. Chaque palier franchit par l’utilisateur lui permet d’obtenir des points. En fonction du nombre de points obtenus sur l'ensemble des challenges, des grades (unknown player, rising star...) sont attribués au joueur. Les jeunes joueurs pourront aussi se défier entre eux et ainsi juger de leur niveau vis-à-vis des autres joueurs de leur région ou même du monde. 
    				</p>
    				<p style="text-align:justify;">
    					L’industrie du sport est caractérisée par l’opposition entre le sport-loisir et le sport-performance. BestFootball  aspire à être le trait d’union entre performance et loisir en récompensant  ses utilisateurs. Pour ce faire, BestFootball proposera aux marques partageant la philosophie du site de sponsoriser certains challenges. 
    				</p>
    				<p style="text-align:justify;">
    					Sur Bestfootball il y a toujours un gagnant. Les marques choisis profiteront du marketing disruptif à travers l’engagement physique de l’utilisateur pour la marque mais aussi en disposant d’une vitrine pour leurs produits sur notre site. Quant à l’utilisateur s’il réussit le challenge proposé, il aura l’opportunité de gagner les lots proposés par nos marques partenaires. 
    				</p>
    				<p style="text-align:justify;">
    					Les utilisateurs n’ayant pas participé ou réussi les différents challenges proposés seront aussi récompenser grâce à la fonction « viewer ». Cette fonction leur permet d’endosser le rôle de détecteur de talents : ils peuvent désigner un utilisateur comme le futur vainqueur d’un challenge (trimestriel ou annuel) et remporter un prix si leur choix a été le bon. 
    				</p>
    				<p style="text-align:justify;">
    					Bestfootball à court terme a pour ambition de devenir la plateforme vidéo permettant de découvrir les talents de demain grâce à la section recrutement du site. Une campagne de crowdfunding sur le site Indiegogo ( lien) vient d’être mis en ligne afin de lever des fonds pour pouvoir sortir la version 2 du site qui inclura entre autre cette section recrutement. Cette section permettra aux joueurs ayant pour objectif d’être repéré par des recruteurs de poster des vidéos plus longues, les montrant en situation de match. 
    				</p>
    				<p style="text-align:justify;">
    					La Dream Team Bestfootball :</br>
						A l’origine du projet, il y a trois entrepreneurs formant un des trio les plus prolifiques d’Europe. Après MSN ( Messi, Suarez, Neymar) BBC ( Benzema, Bale, Cristiano) il faudra compter sur MNJ ( Mulinzi, Nassim, Joris).
    				</p>
    				<p><b>Nassim, numéro 10</b></p>
    				<p style="text-align:justify;">
    					Nassim EZZAKRAOUI, dans la vie c'est un actuaire. Vous connaissez sûrement pas ce métier et on s'en fiche. Car plus qu'analyser les risques, c'est chausser ses crampons et dribbler qu'il aime par dessous tout. Joueur au sport-études de Besançon, il fait le constat qu'il ne progresse pas autant que prévu en club (et oui on a pas toujours ce à quoi on s'attend Nassim!!), mais qu'il apprend au contraire énormément en jouant seul ou avec des amis dans la rue. En 2013, alors qu’il essaie d’être recruté par une université américaine, il prend aussi grandement conscience du manque de visibilité qu’ont les jeunes joueurs de football amateur : Bestfootball vient de naître. 
    				</p>
    				<p>Atouts : Vision du jeu, accélération du jeu </br>Fonction : CEO</p>

    				<p><b>Mulinzi, numéro 9</b></p>
    				<p style="text-align:justify;">
    					Jérémie Karege travaille en tant que Business Manager dans le cabinet de conseil CAP GEMINI. C'est aux Etats-Unis qu'il rencontre Nassim et s'intéresse au projet. Sa passion : le foot. Il a pu jouer aux 4 coins du monde et, à défaut d’être un numéro 9 sur le terrain, Jérémie est avant tout un numéro 9 dans la vie! Et comme tout numéro 9 qui se respecte il n’a qu’une obsession, le but ! A travers son sang-froid qui le caractérise, Jérémie espère marquer ce qui serait son plus beau but : faire de Bestfootball une interface mondialement reconnue. 

    				</p>
    				<p>Atouts : Placements, Intuition, Vitesse </br>Fonction : COO</p>

    				<p><b>Joris, numéro 3</b></p>
    				<p style="text-align:justify;">
    					Joris HART est étudiant en master d'ergonomie et ingénierie des activités sportives à l'université de Savoie. Ses grandes passions sont le parapente, le foot et... et la programmation web (Et oui entre un saut dans le vide et un match de foot, il a le temps de nous faire quelques lignes de codes)! Après une première tentative de start up dans le football (localisation et création de matchs entre amis), il crée sa plateforme de services (création de sites web pour particuliers). Séduit par le projet Bestfootball et la vision qui l'accompagne, Il s'associe à Jérémie et Nassim en Octobre 2015.

    				</p>
    				<p>Atouts : Collectif, Précis, Travailleur</br>Fonction : CTO</p>

    				<hr>
    				<footer>
    					<p>Communiqué de presse du 20 Mars 2016 : 	
						Contact Presse : Jérémie Karege / COO – 07.62.38.60.69 – contact@bestfootball.fr </p>


    				</footer>

    			</div>
    		</div>
    	<!-- end of the article -->
    	</div>
    </div>
  </div>
</section>
{% endblock %}
