{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="La page de presse de Bestfootball">
  <meta name="keywords" content="soccer,football,bestfootball, football challenges, challenges, foot challenges, football tricks, freestyle foot, freestyle football, challenges foot, soccer tricks, freestyle soccer, football freestyle, cool soccer tricks, freestyle soccer ball, soccer freestyle, reseau sociau, internet social, football challenge, vinsky, défi technique, presse">
{% endblock %}


{% block title %}
  Règlement - Gagne deux places pour l’euro grâce à Bestfootball ! - {{ parent() }}
{% endblock %}

{% block content %}
<section class="ranking">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    	<div class="row">
    		<h1 class="text-center">Règlement - Gagne deux places pour l’euro grâce à Bestfootball !</h1>
    	<!-- begin of the article -->
    		



<h2>Article 1</h2>

    <p style="text-align:justify;">SAS Bestfootball, dont le siège est situé 73, rue des Vignoles 75020 Paris, immatriculée au Registre du Commerce sous le
numéro 819.835.562, et enregistrée sous le numéro SIRET 819.835.562.00011
organise un jeu gratuit sans obligation d’achat du 8 au 21 Juin 2016, intitulé
"Gagne deux places pour l’euro grâce à Bestfootball !".</p>

<h2>Article 2</h2>

    <p style="text-align:justify;">Ce jeu est ouvert à toute personne physique résidant en France Métropolitaine et Belgique à
    l’exclusion des dirigeants des sociétés organisatrices, et des membres de leurs
    familles respectives vivant sous leur toit.</p>
<h2>Article 3</h2>

    <ol>
        <li style="">
            <p style="font-family:helvetica">Invite 5 de tes amis à s’inscrire sur www.Bestfootball.fr grâce à ton lien de parrainage:(Sur le page d'acceuille).  L'inscription doit se faire par le formulaire d'inscription.</p></li>
        <li style=""><p style="font-family:helvetica">Tes 5 amis et toi devez chacun compléter votre profil (age, photo, ect...)</p></li>
        <li style="">
            <p style="font-family:helvetica">
                Tes 5 amis et toi devez chacun participer à un challenge et faire un score minimum de 100 points!
            </p>
        </li>
        <li style=""><p style="font-family:helvetica"> Tes 5 amis et toi devez chacun partager votre vidéo sur votre Facebook avec le hashtag <b>#BestfootballEuro2016</b></p></li>
        <li style=""><p style="font-family:helvetica">Viens liker <a href="https://www.facebook.com/Bestfootball.official/" target="_blank">notre page facebook</a></p></li>
    </ol>

<h2>Article 4</h2>
    <p style="text-align:justify;">La participation est limitée à un seul passage par personne (même nom, même
    adresse), sur la durée du jeu.</p>

<h2>Article 5</h2>
<p style="text-align:justify;">Le jeu fait l'objet d'un tirage au sort sur le stand de la foire, en présence de M
Ezzakraoui Nassim, CEO de Bestfootball. Le tirage au sort aura lieu le dimanche 21/06/2016 à 17 h.<br/>
Le lot gagnant par tirage au sort est:</p>
<ul>
<li><p>2 places pour un 1/8 finale de l'euro 2016</p></li>
</ul>

<h2>Article 6</h2>
<p style="text-align:justify;">
Le gagnant au jeu sera désignés à l'issue du tirage au sort, et recevra son
lot par courrier sous un délai de 3 jours. Le nom gagnant sera également
consultable sur le site de bestfootball, page Facebook et Twitter</p>
<h2>Article 7</h2>
<p style="text-align:justify;">Le lot n'est ni échangeables, ni négociables, ni transformables en espèces</p>
<h2>Article 8</h2>
<p style="text-align:justify;">
Bestfootball se réserve le droit, pour quelque raison que ce soit,
de modifier, de prolonger ou d’annuler le présent jeu.
</p>

<h2>Article 9</h2>
<p style="text-align:justify;">
La participation à ce jeu implique l’acceptation sans réserve du présent règlement
dans son intégralité.
</p>
<h2>Article 10</h2>
<p style="text-align:justify;">
Le règlement complet est disponible sur simple demande à :
Bestfootball
Jeu "Gagne deux places pour l’euro grâce à Bestfootball !".
73, rue des Vignoles
75020 Paris
(frais de timbres remboursés au tarif lent en vigueur, un seul remboursement par
foyer) ou sur le site internet www.bestfootball.fr
</p>

<h2>Article 11</h2>
<p style="text-align:justify;">Conformément à la loi du 6 janvier 1978 dite "Informatique et Liberté", les
candidats disposent d'un droit à l'information, d'un droit d'accès, d'un droit à
l'opposition et d'un droit de rectification sur les informations nominatives
recueillies dans le cadre du présent jeu en s’adressant à la société organisatrice à
l’adresse suivante : Bestfootball, JEU " Gagne deux places pour l’euro grâce à Bestfootball !"." 73, rue des Vignoles
75020 Paris</p>
<h2>Article 12</h2>
<p style="text-align:justify;">
Bestfootball pourra diffuser le nom, la commune de résidence et la photographie du
gagnant à des fins publicitaires, promotionnelles ou purement informatives, sans
contrepartie financière.</p>
<h2>Article 13</h2>
<p style="text-align:justify;">
Bestfootball ne pourra être tenue pour responsable si, pour des
raisons indépendantes de sa volonté, le jeu devait être en totalité ou
partiellement reporté, modifié ou annulé.</p>
<h2>Article 14</h2>
<p style="text-align:justify;">
La participation au jeu implique l’acceptation entière et sans réserve du présent
règlement, de ses modalités de déroulement et de ses résultats.
</p>

    	<!-- end of the article -->
    	</div>
    </div>
  </div>
</section>
{% endblock %}
