{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Rules - {{ parent() }}
{% endblock %}


{% block content %}
  {# This is the content section of our page ! #}
  <h1>Rules of Bestfootball</h1>

{% endblock %}