{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="La des conditions d'utilisation de Bestfootball">
  <meta name="keywords" content="soccer,football,bestfootball, football challenges, challenges, foot challenges, football tricks, freestyle foot, freestyle football, challenges foot, soccer tricks, freestyle soccer, football freestyle, cool soccer tricks, freestyle soccer ball, soccer freestyle, reseau sociau, internet social, football challenge, vinsky, défi technique">
{% endblock %}


{% block title %}
  {{ 'Terms'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
<section class="profile">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    	<div class="row">
    		<h1> Bestfootball usage terms and conditions</h1>
    		<p>
    			Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Bestfootball’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
    		</p>
    		<p>
    			The term ‘Bestfootball’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is 73 Rue des vignoles, 75020 Paris, France. Our company registration number is [company registration number and place of registration]. The term ‘you’ refers to the user or viewer of our website.
    		</p>
    		<p>
    			The use of this website is subject to the following terms of use:
    		</p>
    		<ul>
    			<li><p>The content of the pages of this website is for your general information and use only. It is subject to change without notice</p></li>
    			<li><p>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: [insert list of information].</p></li>
    			<li><p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p></li>
    			<li><p>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</p></li>
    			<li><p>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p></li>
    			<li><p>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</p></li>
    			<li><p>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</p></li>
    			<li><p>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p></li>
    			<li><p>Your use of this website and any dispute arising out of such use of the website is subject to the laws of the Belgium, France, UK, United States.</p></li>
    		</ul>
    		<p>
    			Licenced material used on this site:
    		</p>
    		<ul>
    			<li><p>PHP FFMpeg plugin</p></li>
    			<li><p>FFMpeg</p></li>
    			<li><p>....</p></li>
    			<li><p>....</p></li>
    		</ul>

    	</div>
    </div>
  </div>
</section>
{% endblock %}
