{% extends "BFSiteBundle::base.html.twig" %}

{% block meta %}
  <meta name="description" content="Les dernières vidéos sur Bestfootball">
  <meta name="keywords" content="soccer,football,bestfootball, football challenges, challenges, foot challenges, football tricks, freestyle foot, freestyle football, challenges foot, soccer tricks, freestyle soccer, football freestyle, cool soccer tricks, freestyle soccer ball, soccer freestyle, reseau sociau, internet social, football challenge, vinsky, défi technique">
{% endblock %}


{% block title %}
  Last videos - {{ parent() }}
{% endblock %}


{% block content %}
  <section class="homepage">
    <div class="row" style="margin-top:50px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 text-center">
        <div class="row">
          <h1 style="margin-bottom:20px;">{{ 'Videos on Bestfootball'|trans }}</h1>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
            <!--Begin of the lastest videos -->
              {% include "BFSiteBundle:Video:Homelist.html.twig" with {"lastVideos": lastVideos } only %}
            <!--End of the lastest videos -->
              {% include "BFSiteBundle:Video:Freestylelist.html.twig" with {"lastFreestyles": lastFreestyles } only %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
