{% extends "BFSiteBundle::base.html.twig" %}

{% trans_default_domain 'BFUserBundle' %}

{% block content %}

<section class="header text-center">
	{% for key, message in app.session.flashbag.all() %}
	    <div class="alert alert-{{ key }}">
	      {{ message|trans({}, 'FOSUserBundle') }}
	    </div>
	{% endfor %}
	<div class="well" style="margin-top:50px;">
	    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
	</div>
</section>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function(){
		  setTimeout(function(){
			window.location="{{ path('bf_site_homepage') }}";
		  },5000); });
	</script>
{% endblock %}
