{% extends "BFSiteBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	{% for key, message in app.session.flashbag.all() %}
	    <div class="alert alert-{{ key }}">
	      {{ message|trans({}, 'FOSUserBundle') }}
	    </div>
	{% endfor %}
	<div class="well" style="margin-top:50px;">
	    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
	</div>
{% endblock %}
