<h3>{{ name }}, a copy of your e-mail</h3>

<p>Thank you for sending us a mail. We will contact you as soon as possible.
</br>
Your Message: 
</br>
Reason : {{ reason }} </br>
</br>
{{ text }}
</br>
</br>

See you soon on Bestfootball.fr
</p>