<h3>Your video, {{ video.title }} was deleted from our servers</h3>

Your video, {{ video.title }} received various reports. </br> Our admins took a look at your video and decided to delete it from our servers because it didn't match the GUC of our site.</br>
Please be fair play ! 
</br>
</br>
See you soon on Bestfootball.fr