{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="Bla bla bla concernant l'upload.">
  <meta name="keywords" content="soccer,football ">
{% endblock %}


{% block title %}
  Admin Section- add a new challenge - {{ parent() }} 
{% endblock %}

{% block content %}

 
<div class="well">
  	<a href="{{ path('bf_site_admin_challenges') }}" class="btn btn-primary">
			See all the challenges.
	</a>

	<a href="{{ path('bf_site_admin_users') }}" class="btn btn-primary">
		
			See all the users.
	</a>

	<a href="{{ path('bf_site_admin_reports') }}" class="btn btn-primary">
		
			See all the reports.
	</a>

	
</div>
  

  <hr>

{% endblock %}
